h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: green;
}

h2 {
  color: grey;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

img {
  width: 200px;
  height: 300px;
}