h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: green;
}

h3{
  color: blue;
}

h2{
  color: grey;
}

img{
  width: 180px;
}

.gallery{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}